.row
  .col-md-1.pull-right
    -if user_signed_in?
      = link_to 'Set preferences', user_path(current_user), class: 'btn btn-success'
- if recipes.any?
  #recipes
    = render recipes
- else
  %h3 Type your ingredients on right
